h1 {
    background-color: rgb(71, 191, 235);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

div{
    width: 80%;
    margin: 0 auto;
    height: 200px;
}
.bgcolor{background-color: antiquewhite;}
.bgave{
    width: 700px;
    height: 1000px;
    background-image: url("Assets/image/averil.jpg");
}
.gradient2 {
    height: 50px;
    background: linear-gradient(rgb(52, 52, 247),rgb(206, 75, 236),rgb(100, 117, 231));}
